body {
  font-size: 12pt;
  line-height: 140%;
  padding: 1rem 0;
}

body > header,
body > footer,
body > article {
  width: 720px;
}

figure {
  margin: 0;
  padding: 0;
}

table {
  text-align: left;
}
